/* src/assets/main.css */
@import 'tailwindcss';

@theme {
  --color-primary: #00796b;
  --color-primary-light: #e0f2f1;
  --color-secondary: #26a69a;

  /* Fonts */
  --font-sans: 'Prompt', ui-sans-serif, system-ui, sans-serif;

  --shadow-muse-sm: 0 2px 6px rgba(0, 0, 0, 0.05);
  --shadow-muse: 0 20px 27px rgba(0, 0, 0, 0.05);
  --shadow-muse-lg: 0 4px 6px rgba(0, 0, 0, 0.12);
}

/* Global Styles */
body {
  @apply bg-gray-50 text-slate-700 font-sans;
  -webkit-font-smoothing: antialiased;
}
